body{
    background-color: #dcc7aa;
    width:auto;
}

.brand-logo {
    margin-left: 15px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.sidenav.right-aligned {
    background-color: #dccdb8;
}

.text-heavy{
    font-weight: 500;
}

.flashes h4 {
    line-height:2;
}

@media only screen and (max-width: 390px){
    nav a.brand-logo {
        position: relative;
    }
}

.text-uppercase {
    text-transform: uppercase;
}

.btn-center-align{
    text-align: center;
}

li.cat-list {
    display: inline-block;
    padding-top: 15px;   
}

.card-image {
    padding: 5px;
    max-width: 100%;
    height: auto;
}

.recipe-image {
    padding: 5px;
    max-height: 400px;
    max-width: 100%;
    width: auto;
    align-items: center;
    text-align: center;
}

.recipe-description{
    padding: 15px 0px;
}

.card-panel {
    margin-top: 14px;
}