body{
    background-color: #dcc7aa;
    width:auto;
}

.brand-logo {
    margin-left: 15px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.sidenav.right-aligned {
    background-color: #dccdb8;
}

.text-heavy{
    font-weight: 500;
}

.flashes h4 {
    line-height:2;
}

@media only screen and (max-width: 390px){
    nav a.brand-logo {
        position: relative;
    }
}

.text-uppercase {
    text-transform: uppercase;
}

.btn-center-align{
    text-align: center;
}

li.cat-list {
    display: inline-block;
    padding-top: 15px;   
}

.card-image {
    padding: 15px 5px;
    max-width: 100%;
    height: auto;
    /* width: fit-content; */
    max-height: 280px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px black;
}

.recipe-image {
    padding: 5px;
    max-height: 400px;
    max-width: 100%;
    width: auto;
}

.recipe-description{
    padding: 15px 0px;
}

.card-panel {
    margin-top: 14px;
}

.cat-card {
    font-size: x-large;
    font-weight: 400;
}

.modal-new-cat {
    padding: 15px 15px 5px !important;
    width: 90%;
}

.btn-left-margin{
    margin-left: 20px !important;
}

.card .card-title {
    font-size: 40px;
    font-weight: 400;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.btn-margin {
    margin: 15px;
}

.dropdown-content {
    top: -65px;
}

.pagination li.active a {
    background-color: orange;
}

.card.large {
    height: 460px;
}