body{
    background-color: #dcc7aa;
}

.brand-logo {
    margin-left: 15px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.sidenav.right-aligned {
    background-color: #dccdb8;
}

.text-heavy{
    font-weight: 500;
}

.flashes h4 {
    line-height:2;
}