{% extends "base.html" %}
{% block content %}

    <h3 class="center-align blue-grey-text text-darken-3">404 - Page not found</h3>
    <img src="https://images.theconversation.com/files/307440/original/file-20191217-58292-nlmvmh.jpg" alt="sugar" class="card-image">
    <h4 class="center-align blue-grey-text text-darken-3">The page that you were looking for was not found.</h4>
    <h4 class="center-align blue-grey-text text-darken-3">Please check the URL or <a href="{{ url_for('get_recipes') }}" class="">click here </a>to return home.</h4>

{% endblock %}