{% extends "base.html" %}
{% block content %}

    <h3 class="center-align blue-grey-text text-darken-3">{{ username.capitalize() }}'s Profile</h3>
    <div class="row">
        <div class="col s12 m4">
            <div class="card-panel">
                <h3 class="center-align blue-grey-text text-darken-3">
                    Edit Profile
                </h3>
            </div>
        </div>
        <div class="col s12 m8">
            <h3 class="center-align blue-grey-text text-darken-3">
                My Recipes
            </h3>
            
        </div>
        <div class="col s12 m8 offset-m4">
            <h3 class="center-align blue-grey-text text-darken-3">
                My Favourite Recipes
            </h3>
        </div>
    </div>
    
    
  {% endblock %}