{% extends "base.html" %}
{% block content %}
    
    <div class="row">
        <div class="col s12 m3 btn-center-align">
            <div class="row">
                <h4 class="blue-grey-text text-darken-3">Categories:</h4>
                <ul>
                    {% for category in categories %}
                        <div class="col s6 m12 l12 btn-center-align">
                            <li class="cat-list">
                                <a class="orange accent-3 text-shadow text-heavy waves-effect waves-light btn truncate">
                                    <span class="white-text text-uppercase">{{ category.category_name }} </span>
                                </a>
                            </li>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <div class="col s12 m7">
            <h4 class="blue-grey-text text-darken-3">Recipes:</h4>
            {% for recipe in recipes %}
                
                    <div class="card horizontal brown lighten-5">
                        
                            <div class="card-image valign-wrapper">
                                <img src="{{ recipe.recipe_img }}" alt="{{ recipe.recipe_name }}" class="card-image">
                            </div>
                        
                        
                            <div class="card-stacked">
                                <div class="card-content ">
                                    <h4 class="blue-grey-text text-darken-3">{{ recipe.recipe_name.capitalize() }}</h4>
                                    <p>{{ recipe.recipe_description }}</p>
                                </div>
                                <div class="card-action">
                                    <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">View Recipe</a>
                                    <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">Edit Recipe</a>
                                </div>
                            </div>
                        
                    </div>
                
            {% endfor %}<br>
        </div>



        <div class="col s12 m9">
            {% for recipe in recipes %}
                <h2>{{ recipe.recipe_name }}</h2>
                {% for cat in recipe.category_name %}
                    {{ cat }}
                {% endfor %} <br>
                {{ recipe.description }}<br>

                <h3>Ingredients:</h3>
                {% for ingredient in recipe.ingredients.splitlines() %}
                    <ul>
                        <li>{{ ingredient }}</li>
                    </ul>
                {% endfor %}

                <h3>Method:</h3>
                {% for step in recipe.method.splitlines() %}
                    <ul>
                        <li><i class="fas fa-long-arrow-alt-right"></i> {{ step }}</li>
                    </ul>
                {% endfor %}

              
            {% endfor %}<br>
        </div>

    </div>



{% endblock %}