{% extends "base.html" %}
{% block content %}
    
    <h3 class="center-align blue-grey-text text-darken-3">{{ recipe.recipe_name.capitalize() }}</h3>
    
    <div class="row card-panel brown lighten-5">
        <div class="col s12">
            
            {% for category in recipe.category_name %}
                        <div class="col">
                            <!-- <li class="cat-list"> -->
                                <a href="{{ url_for('category_search', category_name=category) }}" class="orange accent-3 text-shadow text-heavy waves-effect waves-light btn truncate">
                                    <span class="white-text text-uppercase">{{ category }} </span>
                                </a>
                            <!-- </li> -->
                        </div>
            {% endfor %}
            <br>
            
            <p class="recipe-description">{{ recipe.recipe_description.capitalize() }}</p>
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    {% if recipe.recipe_img == "" %}
                                    <img src="https://images.theconversation.com/files/307440/original/file-20191217-58292-nlmvmh.jpg" alt="{{ recipe.recipe_name }}" class="card-image center">
                                    {% else %}
                                    <img src="{{ recipe.recipe_img }}" alt="{{ recipe.recipe_name }}" class="card-image center-align">
                                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <h3 class="blue-grey-text text-darken-3">Ingredients:</h3>
                    {% for ingredient in recipe.ingredients.splitlines() %}
                    <ul>
                        <li><i class="far fa-circle"> </i> {{ ingredient }}</li>
                    </ul>
                    {% endfor %}
                </div>
                <div class="col s12 m6">
                    <h3 class="blue-grey-text text-darken-3">Method:</h3>
                    {% for step in recipe.method.splitlines() %}
                    <ul>
                        <li><i class="fas fa-long-arrow-alt-right"></i> {{ step }}</li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
            {% if session.user|lower == recipe.added_by|lower %}
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="orange accent-3 text-shadow text-heavy waves-effect waves-light btn center-align truncate">
                    <span class="white-text text-uppercase">Edit Recipe </span>
                </a>
            {% endif %}
            
        </div>
    </div>

    

{% endblock %}