{% extends "base.html" %}
{% block content %}
    
    <div class="row">
        <div class="col s12 m3 btn-center-align">
            <h4>Categories:</h4>
            <ul>
                {% for category in categories %}
                    <li class="cat-list">
                        <a class="orange accent-3 text-shadow text-heavy waves-effect waves-light btn">
                            <span class="white-text text-uppercase">{{ category.category_name }} </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="col s12 m9">
            {% for recipe in recipes %}
                <h2>{{ recipe.recipe_name }}</h2>
                {% for cat in recipe.category_name %}
                    {{ cat }}
                {% endfor %} <br>
                {{ recipe.description }}<br>

                <h3>Ingredients:</h3>
                {% for ingredient in recipe.ingredients.splitlines() %}
                    <ul>
                        <li>{{ ingredient }}</li>
                    </ul>
                {% endfor %}

                <h3>Method:</h3>
                {% for step in recipe.method.splitlines() %}
                    <ul>
                        <li><i class="fas fa-long-arrow-alt-right"></i> {{ step }}</li>
                    </ul>
                {% endfor %}

              
            {% endfor %}<br>
        </div>

    </div>



{% endblock %}